# Dependencies
node_modules
.pnpm-store
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Maven target
target/
*.class

# OS Metadata
.DS_Store
Thumbs.db